.h-90{
    height:90vh;
}
/* .grid_images{
    width:100%;
    height:95%;
} */
.carousel::before{
 content:"";
 position: absolute;
 background-color: black;
 width:100%;
 height:90vh;
 z-index:1;
 opacity: 0.2;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    outline: none;
    border: none;
    width: 3rem;
    text-align: center;
    font-size: 1.75rem;
    cursor: pointer;
    color: #333;
}