body{
    /* background-color: #c0c0c0; */
    background-image: url('../images/indeximages/bg_login.jpg');
}

.form_layout{
    position: absolute;
    top:25%;
    left:25%;
    width:50%;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
}
.warning{
    color: red;
}
input{
    border: none;
}

